.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    
}

table td {
	border:10px solid black;
	width: 100px;
	height: 100px;
}


button{
    background-color: greenyellow;
    border:3px solid darkgreen;
}

button:hover{
    cursor:pointer;
}